<html>
  <head>
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href='//assets.ahab.io'>
    <%= css :vendor %>
    <%= css :application %>
  </head>

  <body>
    <header id='page-header' class='full-viewport'>
      <div class='overlay full-viewport'>
        <div class='container_12'>
          <div class='search push_1 grid_5'>
            <img src='/search_glass2x.png' />
            <input type='search' placeholder='Search libraries and assets' />
          </div>
          <button class='publish call-to-action push_4 grid_2'>Publish Asset</button>
        </div>
      </div>
    </header>

    <div class='main'>
      <%= yield %>
    </div>

    <footer id='page-footer' class="full-viewport">
      <div class="container_12">
        <div class="grid_6 push_3 suffix_3">
          <%= img 'moby2x.png' %>
        </div>
        <div class='grid_6 push_3 suffix_3'>
          RailsRumble 2013 project by
          <a href='http://zendesk.com'>Zendesk</a>
        </div>
      </div>
    </footer>
  </body>
</html>
