<html>
  <head>
    <meta http-equiv='x-dns-prefetch-control' content='on'>
    <link rel='dns-prefetch' href='//assets.ahab.io'>
    <%= css :vendor %>
    <%= css :application %>
  </head>

  <body>
    <header id='page-header' class='full-viewport'>
      <div class='overlay full-viewport'>
        <div class='container_12'>
          <div class='search push_1 grid_5'>
            <img src='/search_glass2x.png' />
            <input type='search' placeholder='Search libraries and assets' />
          </div>
          <button class='publish call-to-action push_4 grid_2'>Publish Asset</button>
        </div>
      </div>
    </header>

    <div id="search-results">
      <header class="search-top">
        <div class="container_12">
          <div class="grid_5 push_1">
            <h5>DISPLAYING 1 - 40 OF 180 ASSET RESULTS</h5>
          </div>
          <div class="close push_5 grid_1"><a href="#">X</a></div>
        </div>
      </header>
      <section class="search-body">
        <div class="asset-results container_12">
          <div class="grid_10 push_1">
            <ul>
              <li>
                <h4>Javascript Boneyard 0.0.1.6</h4>
                <h5>Published by Boneyard</h5>
                <p>A Javascript library for creating beautifully simple interfaces...</p>
              </li>
              <li>
                <h4>Javascript Boneyard 0.0.1.6</h4>
                <h5>Published by Boneyard</h5>
                <p>A Javascript library for creating beautifully simple interfaces...</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <footer class="search-footer">
        <div class="container_12">
          <div class="grid_12">
            <a href="#">DISPLAY 40 - 80 OF 180 ASSET RESULTS...</a>
          </div>
        </div>
      </footer>
    </div>

    <div class='main'>
      <%= yield %>
    </div>

    <footer id='page-footer' class="full-viewport">
      <div class="container_12">
        <div class="grid_6 push_3 suffix_3">
          <%= img 'moby2x.png' %>
        </div>
        <div class='grid_6 push_3 suffix_3'>
          RailsRumble 2013 project by
          <a href='http://zendesk.com'>Zendesk</a>
        </div>
      </div>
    </footer>

    <script src="/vendor.js"></script>
    <script src="/application.js"></script>
  </body>
</html>
