<div class='documentation'>
  <header class="container_12">
    <div class="docs-header grid_10 push_1">
      <div class="grid_6 alpha">
        <a href="/" class="back"><%= img 'caret_left2x.png' %></a>
        <h1>Documentation</h1>
      </div>

      <div class="docs-for grid_4 omega">
        <a href="/documentation/overview" class="active">Overview</a>
        <a href="/documentation/protocol" class="active">Protocol</a>
        <a href="/documentation/tools" class="active">Tools</a>
      </div>
    </div>
  </header>

  <section class="docs-body container_12">
    <article class="grid_7 push_1">
      <%= yield %>
    </article>

    <aside class="docs-links grid_3 push_1"></aside>
  </section>
</div>
