<section class='jumbotron full-viewport'>
  <div class='hero container_12'>
    <h1 class='grid_12'>Ahab</h1>

    <p class='value-proposition grid_6 push_3 suffix_3'>
      Making it simple for web developers to access front-end libraries
      at the HTTP layer for a faster and more automated development process.
    </p>

    <div class="clear"></div>

    <button class='learn call-to-action grid_4 push_4'>Read Documentation</button>
  </div>
</section>

<section class='target-audience full-viewport'>
  <div class="container_12">
    <h3 class='line-on-sides grid_12'><span>AHAB Was Designed For</span></h3>

    <div class="grid_4">
      <%= img 'helm2x.png' %>
      <h4>Library Authors</h4>
      <p>Deliver your JS, CSS, images, etc. into the hands of developers faster and more efficiently</p>
    </div>

    <div class="grid_4">
      <%= img 'clipper2x.png' %>
      <h4>Website Authors</h4>
      <p>Keep your web applications up-to-date seamlessly without worrying over miniscule details</p>
    </div>

    <div class="grid_4">
      <%= img 'lighthouse2x.png' %>
      <h4>Companies</h4>
      <p>Enhance your applications by creating better efficiency through consistent library management</p>
    </div>

    <div class="grid_12 moby-dick">
      <img src="http://placehold.it/940x150">
    </div>
  </div>
</section>

<section class='stats full-viewport'>
  <div class="container_12">
    <p class="grid_4">305,406 published</p>
    <p class="grid_4">3,102,302 downloads</p>
    <p class="grid_4">150,397 currently in use</p>
  </div>
</section>

<section class="metadata full-viewport">
  <div class="featured-assets">
    <div class="container_12">
      <h3 class='line-on-sides push_2 grid_8 suffix_2'><span>Featured Assets</span></h3>

      <div class="grid_3 feature">
        <h5>Recently updated</h5>
        <ul>
          <li>Test 0.01 by Godzilla</li>
          <li>Little Icons 2.0.1 by Helvetica</li>
          <li>Seedling 0.1.5 by Beta Blocks</li>
          <li>Data-Tree 3.1.0 by Pixelbrain</li>
          <li>See more...</li>
        </ul>
      </div>
      <div class="grid_3 feature">
        <h5>Popular</h5>
        <ul>
          <li>Test 0.01 by Godzilla</li>
          <li>Little Icons 2.0.1 by Helvetica</li>
          <li>Seedling 0.1.5 by Beta Blocks</li>
          <li>Data-Tree 3.1.0 by Pixelbrain</li>
          <li>See more...</li>
        </ul>
      </div>
      <div class="grid_3 feature">
        <h5>Most depended on</h5>
        <ul>
          <li>Test 0.01 by Godzilla</li>
          <li>Little Icons 2.0.1 by Helvetica</li>
          <li>Seedling 0.1.5 by Beta Blocks</li>
          <li>Data-Tree 3.1.0 by Pixelbrain</li>
          <li>See more...</li>
        </ul>
      </div>
      <div class="grid_3 feature">
        <h5>Newly published</h5>
        <ul>
          <li>Test 0.01 by Godzilla</li>
          <li>Little Icons 2.0.1 by Helvetica</li>
          <li>Seedling 0.1.5 by Beta Blocks</li>
          <li>Data-Tree 3.1.0 by Pixelbrain</li>
          <li>See more...</li>
        </ul>
      </div>
    </div>
  </div>
</section>
