<html>
  <head>
    <link href='/vendor.css' rel='stylesheet' type='text/css'>
    <link href='/application.css' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <section class='jumbotron full-viewport'>
      <header class='page-top'>
        <div class='container_12'>
          <input type='search' placeholder='Search libraries and assets' class='search push_1 grid_5' />
          <button class='publish push_5 grid_2'>Publish Asset</button>
        </div>
      </header>

      <div class="search-results">
        <header class="search-top">
          <div class="container_12">
            <div class="grid_5 push_1">
              <h5>DISPLAYING 1 - 40 OF 180 ASSET RESULTS</h5>
            </div>
            <div class="close push_5 grid_1"><a href="#">X</a></div>
          </div>
        </header>
        <section class="search-body">
          <div class="asset-results container_12">
            <div class="grid_10 push_1">
              <ul>
                <li>
                  <h4>Javascript Boneyard 0.0.1.6</h4>
                  <h5>Published by Boneyard</h5>
                  <p>A Javascript library for creating beautifully simple interfaces...</p>
                </li>
                <li>
                  <h4>Javascript Boneyard 0.0.1.6</h4>
                  <h5>Published by Boneyard</h5>
                  <p>A Javascript library for creating beautifully simple interfaces...</p>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <footer class="search-footer">
          <div class="container_12">
            <div class="grid_12">
              <a href="#">DISPLAY 40 - 80 OF 180 ASSET RESULTS...</a>
            </div>
          </div>
        </footer>
      </div>

      <div class='hero container_12'>
        <h1 class='grid_12'>Ahab</h1>

        <p class='value-proposition grid_4 push_4 suffix_4'>
          Making it simple for web developers to access front-end libraries
          at the HTTP layer for a faster and more automated development process.
        </p>

        <div class="clear"></div>

        <button class='learn grid_4 push_4'>Learn more</button>
      </div>
    </section>

    <section class='target-audience full-viewport'>
      <div class="container_12">
        <h3 class='line-on-sides grid_12'><span>AHAB WAS DESIGNED FOR</span></h3>

        <div class="grid_4">
          <img src="/helm2x.png">
          <h4>Library Authors</h4>
          <p>Deliver your JS, CSS, images, etc. into the hands of developers faster and more efficiently</p>
        </div>

        <div class="grid_4">
          <img src="/clipper2x.png">
          <h4>Website Authors</h4>
          <p>Keep your web applications up-to-date seamlessly without worrying over miniscule details</p>
        </div>

        <div class="grid_4">
          <img src="/lighthouse2x.png">
          <h4>Companies</h4>
          <p>Enhance your applications by creating better efficiency through consistent library management</p>
        </div>

        <div class="grid_12 moby-dick">
          <img src="http://placehold.it/940x150">
        </div>
      </div>
    </section>

    <section class='stats full-viewport'>
      <div class="container_12">
        <p class="grid_4">305,406 published</p>
        <p class="grid_4">3,102,302 downloads</p>
        <p class="grid_4">150,397 currently in use</p>
      </div>
    </section>

    <section class="metadata full-viewport">
      <div class="featured-assets">
        <div class="container_12">
          <h3 class='line-on-sides push_2 grid_8 suffix_2'><span>FEATURED ASSETS</span></h3>

          <div class="grid_3 feature">
            <h5>Recently updated</h5>
            <ul>
              <li>Test 0.01 by Godzilla</li>
              <li>Little Icons 2.0.1 by Helvetica</li>
              <li>Seedling 0.1.5 by Beta Blocks</li>
              <li>Data-Tree 3.1.0 by Pixelbrain</li>
              <li>See more...</li>
            </ul>
          </div>
          <div class="grid_3 feature">
            <h5>Popular</h5>
            <ul>
              <li>Test 0.01 by Godzilla</li>
              <li>Little Icons 2.0.1 by Helvetica</li>
              <li>Seedling 0.1.5 by Beta Blocks</li>
              <li>Data-Tree 3.1.0 by Pixelbrain</li>
              <li>See more...</li>
            </ul>
          </div>
          <div class="grid_3 feature">
            <h5>Most depended on</h5>
            <ul>
              <li>Test 0.01 by Godzilla</li>
              <li>Little Icons 2.0.1 by Helvetica</li>
              <li>Seedling 0.1.5 by Beta Blocks</li>
              <li>Data-Tree 3.1.0 by Pixelbrain</li>
              <li>See more...</li>
            </ul>
          </div>
          <div class="grid_3 feature">
            <h5>Newly published</h5>
            <ul>
              <li>Test 0.01 by Godzilla</li>
              <li>Little Icons 2.0.1 by Helvetica</li>
              <li>Seedling 0.1.5 by Beta Blocks</li>
              <li>Data-Tree 3.1.0 by Pixelbrain</li>
              <li>See more...</li>
            </ul>
          </div>
        </div>
      </div>

      <footer class="credits">
        <div class="container_12">
          <div class="grid_6 push_3 suffix_3">
            <img src="/moby2x.png">
          </div>
          <div class='grid_6 push_3 suffix_3'>
            RailsRumble 2013 project by
            <a href='http://zendesk.com'>Zendesk</a>
          </div>
        </div>
      </footer>
    </section>

    <script src="/vendor.js"></script>
    <script src="/application.js"></script>
  </body>
</html>
