<div id='error-404-not-found' class='full-viewport'>
  <h1>Whoa there, Captain,</h1>

  <p>It appears what you're looking for doesn't exist.</p>

  <p>That's OK; you can return <a href='/'>home</a>.</p>

  <%= img 'emptyocean2x.png' %>
</div>
