<div class='container_12'>
  <div id="register-assets" title="Publish Asset" style="display: none;">
    <form action="/assets" method="POST">
      <section class='full-viewport' id='asset-details'>
        <div class="container_12">
          <div id="author">
            <p>You are authoring this asset as Guest</p>
          </div>
          <div id="asset_form">
            <div class="grid_6">
              <h4>Details</h4>
              <p>Fill out the following details about your asset</p>
              <input class="text ui-widget-content ui-corner-all" id="asset_name" name="asset[name]" placeholder="Name" type="text">

              <textarea name="asset[description]" maxlength="500" placeholder="Description"></textarea>
            </div>
            <div class="grid_6">
              <h4>Provide the Asset</h4>
              <p>Provide a URL location. We will fetch the assets directly</p>

              <input type="text" name="asset[url]" id="version-name" class="text ui-widget-content ui-corner-all" placeholder="URL" />

              <input type="text" name="asset[version]" id="version-name" class="text ui-widget-content ui-corner-all" placeholder="Version or SHA" />

              <h4>Dependencies</h4>
              <p>Define asset dependencies here.</p>

              <input type="text" name="asset[dependencies]" id="version-dependencies" class="text ui-widget-content ui-corner-all" placeholder="Dependencies" />

              <div class="grid_2 push_2 form_buttons" id="cancel">
                <input type="button" value="Cancel" id="close_modal">
              </div>
              <div class="grid_2 push_2 form_buttons">
                <input type="submit" value="Publish" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>