postgresql: &POSTGRESQL
  adapter: postgresql
  encoding: unicode
  host: localhost

development: &development
  <<: *POSTGRESQL
  database: ahab_development

test:
  <<: *POSTGRESQL
  database: ahab_test

